Cython
pandas
geopandas
Shapely
pyproj
psutil
Requests
gsee @ git+https://github.com/VeraKowalczuk/gsee.git@master
tqdm
jupyter
xarray
scipy
rioxarray
matplotlib
netcdf4
ratelimit
setuptools
PyYAML
Cartopy
sorcery
-e deps/UrbanHeatPro